@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
  background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
  font-family: "DM Serif Display", serif;
  font-style: normal;
  color: white;
  background-color: #000000;
  
}
h1{
  font-size: 40px;
  margin-top: 5vh;
}
.box{
  background-image: url("https://transparenttextures.com/patterns/binding-dark.png");
  border-radius: 7px;
  width: 450px;
  background-color: #000000;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width<=500px) {
  .box{
    width: 75vw;
  }
}
/* #height{
  width: 200px;
}
#weight{
  width: 200px;
} */
button{
  text-align: center;
  font-size: large;
  height: 30px;
  width: 70px;
}
button:hover{
  background-color: white;
}